<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sup babe</h1>
    <p>
      Follower Count: <%= @follower_count %>
      Just to test it out, I have the app send an email every time it adds a new email with more than 200 followers so hopefully it doesn't send you too many emails<br>
    </p>
  </body>
</html>